#canvas {
    width: 640px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.pixel-row {
    flex: 1;
    display: flex;
}

.pixel-col {
    flex: 1;
    aspect-ratio: 1 / 1;
}

.darken {
    background-color: black;
}
